* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Container for the avatar, centered and with a circle shape */
.chinese-avatar-container {
    position: relative;
    margin: 20px;
    width: 250px;
    height: 250px;
    border-radius: 50%; /* Creates a circular container */
    background-color: rgba(100, 100, 100, 0.2); /* Slight transparent gray background */
    z-index: -2; /* Positioned behind other content */
    top: 50%;
    left: 50%;
    transform: translate(100%, -90%); /* Moves the container to a specific position */
}

.chinese-avatar {
    position: relative;
    width: 250px;
    height: 250px;
    background-color: transparent;
    bottom: 35px; /* Slightly adjusts the avatar position upward */
}

/* Avatar face styling: circular, centered, with a skin-tone background and yellow border */
.chinese-avatar .face {
    width: 150px;
    height: 170px;
    border-radius: 50%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%);
    background-color: blanchedalmond;
    border: 3px solid #FED18C;
    display: flex;
    justify-content: center;
    z-index: 4;
}

/* Basic styling for both eyebrows */
.chinese-avatar .face .brow {
    width: 38px;
    height: 7px;
    background-color: #54463B;
    display: flex;
    margin: 10px;
    position: absolute;
}

/* Positions the left eyebrow */
.chinese-avatar .brow-left {
    top: 50px;
    left: 13px;
}

/* Positions the right eyebrow */
.chinese-avatar .brow-right {
    top: 50px;
    left: 74px;
}

/* Basic styling for both eyes */
.chinese-avatar .face .eye {
    background-color: #7C5650;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    display: flex;
    margin: 10px;
    position: absolute;
}

/* Positions the left eye */
.chinese-avatar .eye-left {
    top: 65px;
    left: 25px;
}

/* Positions the right eye */
.chinese-avatar .eye-right {
    top: 65px;
    left: 86px;
}

/* Adds a nose to the avatar using a pseudo-element */
.chinese-avatar .face::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 30px;
    background-color: blanchedalmond;
    border-bottom-left-radius: 70px;
    border-bottom-right-radius: 70px;
    border-bottom: 5px solid #FED18C;
    top: 70px;
}

/* Adds a mouth to the avatar using a pseudo-element */
.chinese-avatar .face::after {
    content: "";
    position: absolute;
    width: 29px;
    height: 5px;
    background-color: #CC0000;
    border-bottom-left-radius: 70px;
    border-bottom-right-radius: 70px;
    border-bottom: 5px solid #CC0000;
    top: 125px;
}

/* Adds the left side of the lips */
.chinese-avatar .lips::before {
    content: "";
    position: absolute;
    width: 12px;
    height: 10px;
    border-radius: 50%;
    top: 122px;
    background-color: #CC0000;
}

/* Adds the right side of the lips */
.chinese-avatar .lips::after {
    content: "";
    position: absolute;
    width: 12px;
    height: 10px;
    border-radius: 50%;
    top: 122px;
    transform: translateX(-11px);
    background-color: #CC0000;
}

/* Styling for the blush marks on the cheeks */
.chinese-avatar .blush {
    background-color: rgba(255, 192, 203, 0.5);
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: flex;
    position: absolute;
}

/* Positions the left blush spot */
.chinese-avatar .blush-left {
    top: 95px;
    left: 17px;
}

/* Positions the right blush spot */
.chinese-avatar .blush-right {
    top: 95px;
    right: 17px;
}

/* Styling for the ears */
.chinese-avatar .ears {
    background-color: blanchedalmond;
    width: 30px;
    height: 30px;
    position: absolute;
    border-radius: 50%;
    z-index: 3;
    border: 3px solid #FED18C;
    ;
}

/* Positions the left ear */
.chinese-avatar .ear-left {
    top: 100px;
    left: 30px;
}


/* Positions the right ear */
.chinese-avatar .ear-right {
    top: 100px;
    right: 30px;
}

/*Earring*/
.chinese-avatar .earrings {
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #B0C4DE;
    z-index: 4;
}

/* Adds the string part of the earring */
.chinese-avatar .earrings::before {
    content: "";
    position: absolute;
    width: 3px;
    height: 13px;
    background-color: #B0C4DE;
    top: 10px;
    left: 5px;
}

/* Positions the left earring */
.chinese-avatar .earrings-left {
    top: 125px;
    left: 35px;
}

/* Adds detail to the left earring */
.chinese-avatar .earrings-left::after {
    content: "";
    position: absolute;
    width: 8px;
    height: 8px;
    background-color: white;
    border-radius: 50%;
    top: 4px;
    left: 3px;
}

/* Positions the right earring */
.chinese-avatar .earrings-right {
    top: 125px;
    right: 35px;
}

/* Adds detail to the right earring */
.chinese-avatar .earrings-right::after {
    content: "";
    position: absolute;
    width: 8px;
    height: 8px;
    background-color: white;
    border-radius: 50%;
    top: 4px;
    right: 3px;
}

.chinese-avatar .earrings2 {
    position: absolute;
    width: 15px;
    height: 30px;
    background-color: gold;
    border-radius: 50%;
    z-index: 4;
}

/* Adds a second type of earring */
.chinese-avatar .earrings2-left {
    top: 145px;
    left: 35px;
}

/* Adds detail to the left second earring */
.chinese-avatar .earrings2-left::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 20px;
    background-color: #FFEF9F;
    border-radius: 50%;
    top: 5px;
    left: 2px;
}

/* Positions the right second earring */
.chinese-avatar .earrings2-right {
    top: 145px;
    right: 35px;
}

/* Adds detail to the right second earring */
.chinese-avatar .earrings2-right::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 20px;
    background-color: #FFEF9F;
    border-radius: 50%;
    top: 5px;
    right: 2px;
}

/*Ear shadow*/
.chinese-avatar .ears::before {
    content: "";
    width: 15px;
    height: 15px;
    position: absolute;
    border-radius: 50%;
    background-color: #FED18C;
    opacity: 0.3;
    top: 5px;
    left: 5px;
}

.chinese-avatar .hair {
    background-color: #54463B;
    z-index: -1;
    width: 170px;
    height: 190px;
    position: absolute;
    top: 40px;
    left: 40px;
    border-radius: 40px 40px 0 0;
    position: absolute;
}


.chinese-avatar .bangs {
    position: absolute;
    background-color: #54463B;
    width: 73px;
    height: 90px;
    border-bottom-left-radius: 70px;
    border-top-right-radius: 20px;
    z-index: 5;
}

.chinese-avatar .bangs-left {
    transform: scaleX(-1);
    top: 1px;
    left: 55px;
}

.chinese-avatar .bangs-right {
    top: 1px;
    right: 55px;
}

.chinese-avatar .hairband {
    width: 163px;
    height: 100px;
    border: 7px solid red;
    border-color: red transparent transparent transparent;
    border-radius: 50% 100px 100px 0;
    z-index: 16;
    position: absolute;
    top: 30px;
    left: 47px;
}

.chinese-avatar .neck {
    width: 50px;
    height: 60px;
    background-color: blanchedalmond;
    position: absolute;
    z-index: 3;
    left: 100px;
    border-left: 3px solid #F4A460;
    border-right: 3px solid #F4A460;
    ;
}

/*Neck shadow*/
.chinese-avatar .neck::before {
    content: "";
    position: absolute;
    width: 45px;
    height: 14px;
    background-color: #FED18C;
    opacity: 0.4;
    border-bottom-left-radius: 70px;
    border-bottom-right-radius: 70px;
    top: 20px;
    right: 1px;

}

/*Body*/
.chinese-avatar .body {
    position: absolute;
    width: 130px;
    height: 130px;
    border-top-left-radius: 100px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 110px;
    background-color: blanchedalmond;
    border-left: 3px solid #FED18C;
    border-top: 3px solid #FED18C;
    transform: rotate(45deg);
    z-index: 0;
    top: 180px;
    left: 60px;

}

/*Dress*/
.chinese-avatar .dress {
    position: absolute;
    width: 142px;
    height: 53px;
    border-bottom-left-radius: 70px;
    border-bottom-right-radius: 70px;
    background-color: #156066;
    z-index: 1;
    top: 240px;
    left: 53px;
}

.chinese-avatar .shirt {
    width: 50px;
    height: 75px;
    position: absolute;
    background-image: url(./images/chinesepattern.jpg);
    background-position: center;
    background-size: cover;
    border-top-left-radius: 70px;
    border-bottom-left-radius: 70px;
    border-bottom-right-radius: 100px;
    z-index: 3;
}

.chinese-avatar .shirt-left {
    bottom: -43px;
    left: 50px;
    transform: rotate(-40deg);
}

.chinese-avatar .shirt-right {
    bottom: -43px;
    right: 50px;
    transform: scaleX(-1) rotate(-40deg);
}